h1{
    color: blueviolet;
}
.calendar{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 30px repeat(5, 50px) ;
    gap: 20px;
}
.date, .day{
    background: crimson;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}
.day{
    background: lightgray;
    font-size: 1em;
}
.date:nth-child(20){
    background: blueviolet;
}