.container{
    width: 95%;
    margin: auto;
    border: 5px solid crimson;
    padding: 20px;
    border-radius: 5px;
    height: 100vh;
}
.flex{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.box{
    border: 2px solid #838383;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex_item1{
    flex-basis: 30%;
    background: #8e8c8c;  
}
.flex_item2{
    flex-basis: 70%;
    background: #d4d2d2;
}
@media screen and (max-width: 576px) {
    .container{
        flex-direction: column;
    }

}